<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据劫持、数据代理</title>
</head>
<body>
    <div id="app">
        <div>a的值是：{{a.a.a.a}}</div>
        <div>b的值是：{{b}}</div>
        <div>b的值是：{{d}}</div>
<!--        双向数据绑定-->
        <input type="text" v-model="b"><br>
        <input type="text" v-model="a.a.a.a"><br>
        <input type="text" v-model="d"><br>
        <input type="text" v-model="hello"><br>
<!--        <div>{{c.a}}</div>-->
<!--        <div>{{c[0]}}</div>-->
    </div>
    <script src="./mvvm.js"></script>
    <script>
        let test = document.createElement('div',{});
        test.id = 'test';
        document.body.appendChild(test)
        let gs = new GS({
            el:'#app',
            data:{
                a:{a:{a:{a:1}}},
                b:33,
                // c:[2,[11,1,[22,22]],{a:3}]
                d:'测试测试'
            },
            // computed可以缓存，只是把数据挂在了vm上
            computed:{
                hello(){
                    return this.b + this.d;
                }
            }
        })
    </script>
</body>
</html>